#planets{
  border: 4px solid black;
}

td,
th {
  border: 1px solid;
}

/* planet image */
.plnt__img{
  padding: 15px;
  border-radius: 100px;
}

.plnt__img:hover{
  box-shadow: 10px 5px 4px red;
}

.mass, 
.diameter,
.sun,
.numMoon,
.orbit,
.lenDays,
.ring{
  word-break: break-all;
  white-space: pre-line;
}

.txt{
  text-align: center;
}

.heading{
  text-align: left;
}

tr:nth-child(even):hover{
  background-color: aquamarine;
}